<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Helloworld page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<div class="container card" style="margin-top:20px; width:600px">
    <div class="card-body">
    <p>This is very secret page.</p>
    <div>
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-primary" type="submit" value="Sign Out"/>
        </form>
    </div>
    </div>
</div>
</body>
</html>